.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  overflow: hidden;
}

.balanceContainer {
  background-color: var(--tg-theme-secondary-bg-color);
  padding: 10px 15px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.balanceText {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.walletContainer {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--tg-theme-secondary-bg-color);
  padding: 10px 15px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}


.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.clickableImage {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s;
  outline: none;
  position: relative;
}

.clickableImage:active {
  transform: scale(0.95);
}

.clickableImage:focus {
  outline: none;
}

.clickableImage img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: calc(100vh - 60px); /* Adjust based on your TopBar height */
  object-fit: contain;
}

.clickEffect {
  position: absolute;
  pointer-events: none;
  animation: floatUp 1s ease-out forwards;
  font-weight: bold;
  color: gold;
}

@keyframes floatUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}