.topBar {
  background-color: #0088cc;
  color: white;
  padding: 10px 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.infoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.level, .coinsPerHour, .totalCoins {
  font-size: 14px;
  white-space: nowrap;
  padding: 0 10px;
}

.level {
  font-weight: bold;
}

.coinsPerHour {
  color: #ffd700; /* Золотой цвет для выделения монет в час */
}

.totalCoins {
  font-style: italic;
}